# 1a1a11a
__pycache__
*deprecated*
*.DS_Store*
*.bak
*.clean
*.nogit*
*_build*
*.out
build
.idea
example/cacheSimulatorC/cmake-build-debug
.vscode/*
*.log
fig/
result/
# Chaos
sftp-config.json
# Clangd cache
*.cache/
